src/main/mule/jsontoxmlconversion.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="236b5b55-fefe-4306-893d-733f15931e7b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jsontoxmlconversionFlow" doc:id="5aafb6f3-0ad7-4a39-b49d-6491425478cc" >
		<http:listener doc:name="Listener" doc:id="82d0ded6-da57-4ab8-a32e-1301a36b9a32" config-ref="HTTP_Listener_config" path="/jsonToxml"/>
		<logger level="INFO" doc:name="Logger" doc:id="570123d7-8f67-459b-a5b0-09da7624f4cd" message="#[payload]" category="Received request"/>
		<ee:transform doc:name="Transform Message" doc:id="f3f07440-fc89-414f-9de6-62ec4cf01a58" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"data":{
	(payload)
	
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
